{% extends 'blog/base.html' %}
{% block content %}
    <h1>ABOUT US</h1>
    <p>
Welcome to Dusty App, your number one source for all things [product]. We're dedicated to providing you the best of [product], with a focus on dependability. customer service, and [store characteristic].
We're working to turn our passion for [product] into a booming online store. We hope you enjoy our products as much as we enjoy offering them to you.
    </p>
<p>
    Sincerely,
    <br>[founder name]

</p>
{% endblock content %}
